.footer {
    background: $bg-primary;
    padding: 16px 0;
    text-transform: uppercase;
    font-size: $font-size-base - 1;
    @include mobile {
        .pull-left,.pull-right {
            float: none!important;
        }
    }
}

.footer-menu-social {
    @include mobile {
        text-align: center;
        float: none!important;
        clear: both;
    }
    @include tablet-only {
        text-align: center;
        float: none!important;
        clear: both;
    }
    li {
        display: inline-block;
        @include tablet {
            float: left;
        }
        @include tablet-only {
        float: none!important;
    }
        margin:0 10px; 
        a {
            span {
                font-size: 50px;
            }
        }
    }
}

.copy-right {
     margin: 18px 0 0 ;
     @include mobile {
        text-align: center;
        float: none!important;
     }
}
.footer-menu-primary {
    margin: 18px 0 0 8px;
    li {
        text-align: center;
        @include tablet {
            float: left;
        }
        margin:0 8px; 
        a {
            
        }
    }
}

.footer-menu-social  {
    margin-top: 3px;
}